.lightgallery__inline-container {
  display: none;
}

.js .lightgallery__item {
  cursor: pointer;
}

.js .lightgallery--inline .lightgallery__items {
  display: none;
}

.js .lightgallery--inline .lightgallery__inline-container {
  display: block;
}
